
.list-group-item {
  border: 0px;
}
.list-group-submenu {
  margin-left:20px;
}
.navigation-box {    
    background-color: #fff;
    border-right: #ddd 1px solid;               
}
.labelCustomFontSize {
    font-size: 40px;
}
.clockStyle {    
    font-weight: 200;    
    color:blue;    
    padding-right: 25px;    
}