
.labelCustomFontSize {
    font-size: 40px;
}
.clockStyle {
    font-size: 30px;
    margin: 0 auto;
    padding: 10px;
    color:blue;
    font-weight: bold;    
    font-style: italic;
    text-align: center;
}